.mainBlogHeader {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #cecece;
}

.statusBarItem {
    font-size: 14px;
}

.statusBarItem svg {
    font-size: 20px;
    margin: 0 10px 0 0;
}

.mainBlogImg {
    text-align: center;
}

.mainBlogImg img {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.mainBlogShareOptionList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.mainBlogShareOptionListItem {
    margin: 7px;
    color: #fff;
    padding: 7px 20px;
    border-radius: 4px;
}

.Twitter {
    background-color: #4BA0EC;
}

.FaceBook {
    background-color: #415994;
}

.Pinterest {
    background-color: #AE2626;
}

.Instagram {
    background: rgb(255, 183, 0);
    background: linear-gradient(209deg, rgba(255, 183, 0, 1) 0%, rgba(203, 24, 24, 0.8746849081429446) 100%);
}

.Telegram {
    background-color: #2BA0D9;
}

.WhatsApp {
    background-color: #23BAA2;
}

.mainBlogComment {
    margin-top: 50px !important;
}

.EmptyComments {
    background-color: #FFE1CB;
    border-radius: 4px;
    border: 1px solid #fbb17c;
}

.commentBox {
    width: 50%;
    font-weight: 300;
    border: 1px solid #cecece;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
}


.CommentReply {
    width: 70%;
    margin: 0 auto;
    background-color: #dedede;
    border-radius: 4px;
    text-align: right;
}

.CommentReply svg {
    color: #737373;
    margin: 5px 15px;
}

.userComment {
    margin: 0 30px;
}

.userName {
    color: #999;
}

.commentContent {
    display: flex;
    margin-top: 7px;
    padding: 0 20px;
    text-align: left;
}

.commnetContext {
    margin: 0 25px;
}

.mainBlogAddComment {
    text-align: right;
}

.mainBlogAddComment h6 {
    margin: 15px 0;
    color: #333;
    font-weight: 300;
}

.mainBlogAddComment input {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #cecece;
    font-weight: 300;
}

.mainBlogAddComment textarea {
    font-weight: 300;
    border: 1px solid #cecece;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    resize: vertical;
    border-radius: 4px;
}

.addCommentButton {
    border: none;
    background-color: #F11D22;
    transition: all .3s ease;
    padding: 10px 50px;
    margin: 20px 0;
    font-weight: 300;
    color: #fff;
    border-radius: 4px;
}

@media screen and (max-width : 992px) {
    .commentBox {
        width: 75%;
    }
}

@media screen and (max-width : 768px) {
    .commentBox {
        width: 90%;
    }
    .mainComment {
        flex-wrap: wrap;
    }
    .userComment{
        margin-top: 20px;
    }
    .CommentReply {
        width: 100%;
    }
}

@media screen and (max-width : 576px) {
    .commentBox {
        width: 100%;
    }

    .commentContent {
        flex-wrap: wrap;
    }
    
    .commnetContext{
        margin-top: 20px;
    }
}